@charset "UTF-8";

body {
    background-color: rgb(199, 201, 199);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(57, 58, 57);
}

#principal {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

h2 {
    color: rgb(58, 61, 58);
}

.basico {
    color: rgb(117, 172, 112);
}

.intermediario {
    color: rgb(149, 155, 71);
}

.avancado {
    color: rgb(236, 131, 131);
}