@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
}
h1 {
    color: maroon;
    font-size: 1.5em;
    background-color: rgb(223, 170, 38);
}
h2 {
    color: brown;
    font-size: 1.2em;
}
p {
    text-align: justify;
}
a {
    text-decoration: none;
    color: black;
}